<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.cmfz.dao.ManagerDao">
     <insert id="insert">
         insert into c_manager values(#{mgrId} , #{mgrName} ,#{mgrSalt} ,#{mgrPassword} ,#{mgrStatus})
     </insert>

    <delete id="delete">
        delete from c_manager
        where mgr_id = #{mgrId}
    </delete>

    <update id="update">
        update c_manager
        set mgr_name = #{mgrName} , mgr_salt = #{mgrSalt} , mgr_password = #{mgrPassword} , mgr_status = #{mgrStatus}
        where mgr_id = #{mgrId}
    </update>

    <select id="selectByName" resultType="Manager">
        select mgr_id as mgrId , mgr_name as mgrName , mgr_salt as mgrSalt , mgr_password as mgrPassword , mgr_status as mgrStatus
        from c_manager
        where mgr_name = #{mgrName}
    </select>

     
</mapper>
